extends shared/layout

block content
  h1 Add Game
  main
    form(action="/gaming/add", method="post")
      each platform in platforms
        h1 #{platform.name}
        div.flex-container
          each game in games
            if game.platformName === platform.name
              div.game-panel
                input(type='checkbox' name=game.id)
                label(for=game.id) #{game.name}
                div.crop
                  img.game-panel-img(src=game.coverImage, alt=game.name)
      input(type='submit', value='Speichern' disabled)

  script(src="/javascripts/add-games.js")