extends shared/layout

block content
  h1= title
  main.flex-container
    each game in games
      div.game-panel
        p=game.name
        div.crop
          img.game-panel-img(src=game.coverImage, alt=game.name)
        each player in game.playerNames
          p=player.usernameOfPlatform