extends shared/layout

block content
    
    mixin application
        div.application-container
            div.title-bar
                span
                    img(src="/images/platforms/manage.png", alt="Manage_Logo", width="20px")
                    span=title
                a(href="/gaming") X
            div.game-container-new-game
                nav.navigation-bar#navigation-bar-new-game
                    a.manage-game-btn(href="/gaming/manage",  type="button") Zurück
                form.new-game-form(onsubmit="return create_game(this)")
                    hr#hr-navbar
                    input#game-name(type="text", name="game_name", placeholder="Name des Spiels", required)
                    p.invisible#game-exists Spiel existiert bereits!
                    hr 
                    p Plattform:
                    each platform in platforms
                        div.form-check                   
                            input.form-check-input(type='radio' id=platform.id name=`platform` value=platform.id required)
                            label.form-check-label(for=platform.id) #{platform.name}
                    hr                   
                    div.cropper-box
                        p Cover-Bild:
                        input#img-upload(type="file", name="cover", onchange="changeCover()")
                        img#cropper-image(src="/images/default-game-image.png", alt="Cover des Spiels")
                        
                    input(type='submit', value='Speichern', disabled)
    
    if os == 'Windows'
        main.grid-container-games.background-windows
            +application
    else if os == 'Linux'
        main.grid-container-games.background-ubuntu
            +application
    else
        main.grid-container-games
            +application


    include info-modal.pug

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js") 
    script(src="/javascripts/new-games.js") 