extends shared/layout

block content
  header#navbar-fixed
    nav
      a(href="/") Startseite
  header#navbar-hamburger
    div.topnav
      a#hamburger-menu-btn.icon-home(href="/",  type="button") ⌂
  main.form-container.gradient.border-radius
    div.form-field
      img(src="/images/icons8-user-64.png", alt="user")
      h1 Neuer Benutzer
      form(action="/users/sign-up", method="post")
        input(type="text", name="username" value='' placeholder="Benutzername" required)
        input(type="email", name="email" value='' placeholder="E-Mail" required)
        input(type="password" name="password" value='' placeholder="Passwort" required)
        input(type="password" name="password_repeat" value='' placeholder="Passwort wiederholen" required)
        label(for="os")  Betriebssystem Linux wählen
        input(type="radio" id="os" name="os" value='Linux')
        label(for="os")  Betriebssystem Windows wählen
        input(type="radio" id="os" name="os" value='Windows')
        each platform in platforms
          span.form-checkbox
            label(for=platform.id)  #{platform.name}
            input(type="checkbox" name=platform.id id=platform.id)
            input.invisible(type="text" name=platform.id+"_uName" id=platform.id+"_uName" placeholder="Benutzername")
        input(type="submit" value="Registrieren")
        script(src="/javascripts/userInteractions.js") 